*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f4f4f4;
    font-family: sans-serif, open-sans;
}

.avatar {
    --scale:0;
    --color : #333;
    --arrow-size : 10px;

    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    background-image: url('https://source.unsplash.com/mJaD10XeD7w');
    background-size: cover;
    background-position: center;
    position: relative;
}

.avatar::after , .avatar::before {
    position: absolute;
    background-color:var(--color);
    top: -.25rem;
    left: 50%;
    transform:  translateX(-50%) translateY(var(--translate-y,0)) scale(var(--scale)); 
    transition: 150ms transform ;
    transform-origin: bottom center;
}

.avatar::before {
    --translate-y: Calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    width: max-content;
    max-width: 100%;
    height: max-content;
    text-align: center;
    border-radius: .3rem;
    color: white;
    padding: .5rem;
    
}

.avatar:hover::before, .avatar:hover::after{
    --scale :1;    
}

.avatar::after {
    --translate-y : Calc(-1 * var(--arrow-size));

    content: '';
    background-color: transparent;
    border : var(--arrow-size) solid transparent;
    border-top-color: var(--color);
    transform-origin: top center;
}